@import url(reset.css);
.flexContainer {
	position: absolute;
		display: flex;
	background-color: yellow;
width: 1440px;
height: 140px;
left: 0px;
top:0px;
}


.flexItem{

	height: 100px;
	width: 140px;
font-size: 20px;

}

